# Americaâ€™s Dams: A Legacy of Neglect

Working with data for hazardous dams across the U.S.

In [3]:
import pandas as pd

In [4]:
dams_df = pd.read_csv('associatedpress-us-dams/dams_in_nid_state_reports.csv')

In [5]:
dams_df.head()

,dam_name,nid_id,state_or_fed_id,county,state,condition_assessment_standardized,hazard_standardized,last_inspection_date,eap_exists,eap_last_revised_date,year_dam_completed,primary_purpose,owner_type,latitude,longitude,inspection_frequency
0,A F K HATCHERY DAM,AK00313,AK00313,CHUGACH REAA,AK,not_rated,low,2014-02-24,NaN,NaN,1977.0,water_supply,private,60.048332,-148.07666,5.0
1,ADAK LOG DAM,AK00110,AK00110,ALEUTIAN REGION REAA,AK,poor,low,1980-09-30,NaN,NaN,1970.0,water_supply,private,51.937470,-176.59467,NaN
2,AKUTAN HYDRO DAM,AK00264,AK00264,ALEUTIANS EAST BOROUGH,AK,fair,significant,2018-06-20,True,2016-12-14 00:00:00,1993.0,hydroelectric,local_government,54.143594,-165.77200,3.0
3,ALITAK CANNERY DAM #1,AK00092,AK00092,KODIAK ISLAND BOROUGH,AK,poor,high,2015-08-20,False,NaN,1917.0,water_supply,private,56.900000,-154.24000,3.0
4,ALITAK CANNERY DAM #2,AK00091,AK00091,KODIAK ISLAND BOROUGH,AK,not_rated,low,2015-08-20,NaN,NaN,1964.0,water_supply,private,56.900000,-154.24000,5.0

In [6]:
dams_df.condition_assessment_standardized.value_counts()

not_rated                 18816
fair                      10288
satisfactory               9394
poor                       5689
good                        595
unsatisfactory              591
unknown                     178
poor_or_unsatisfactory      145
conditionally_fair           50
not_satisfactory             17
Name: condition_assessment_standardized, dtype: int64

In [7]:
# Finding dams rated poor, unsatisfactory, poor_or_unsatisfactory, not_satisfactory

In [8]:
dams_poor = dams_df[(dams_df.condition_assessment_standardized == 'poor') | (dams_df.condition_assessment_standardized == 'unsatisfactory') | (dams_df.condition_assessment_standardized == 'poor_or_unsatisfactory') | (dams_df.condition_assessment_standardized == 'not_satisfactory')]

In [9]:
dams_poor.head()

,dam_name,nid_id,state_or_fed_id,county,state,condition_assessment_standardized,hazard_standardized,last_inspection_date,eap_exists,eap_last_revised_date,year_dam_completed,primary_purpose,owner_type,latitude,longitude,inspection_frequency
1,ADAK LOG DAM,AK00110,AK00110,ALEUTIAN REGION REAA,AK,poor,low,1980-09-30,NaN,NaN,1970.0,water_supply,private,51.937470,-176.59467,NaN
3,ALITAK CANNERY DAM #1,AK00092,AK00092,KODIAK ISLAND BOROUGH,AK,poor,high,2015-08-20,False,NaN,1917.0,water_supply,private,56.900000,-154.24000,3.0
27,HESS CREEK DAM,AK00017,AK00017,YUKON FLATS REAA,AK,poor,high,2012-09-06,False,NaN,1946.0,water_supply,private,65.593330,-148.39160,3.0
30,ICY CREEK RESERVOIR DAM,AK00265,AK00265,ALEUTIAN REGION REAA,AK,poor,significant,2017-08-10,True,2017-10-25 00:00:00,1993.0,water_supply,local_government,53.840500,-166.55710,3.0
41,LAKE LUCILE DAM,AK00182,AK00182,MATANUSKAâ€šÃ„ÃªSUSITNA BOROUGH,AK,poor,significant,2016-05-17,False,NaN,1969.0,fish_and_wildlife_pond,state,61.573334,-149.49580,3.0

In [10]:
dams_poor.hazard_standardized.value_counts()

low            3269
high           1688
significant    1272
none              1
Name: hazard_standardized, dtype: int64

In [11]:
# Poor condition dams rated as high hazard
dang_dams_df = dams_poor[dams_poor.hazard_standardized == 'high']

In [12]:
dang_dams_df.head()

,dam_name,nid_id,state_or_fed_id,county,state,condition_assessment_standardized,hazard_standardized,last_inspection_date,eap_exists,eap_last_revised_date,year_dam_completed,primary_purpose,owner_type,latitude,longitude,inspection_frequency
3,ALITAK CANNERY DAM #1,AK00092,AK00092,KODIAK ISLAND BOROUGH,AK,poor,high,2015-08-20,False,NaN,1917.0,water_supply,private,56.900000,-154.2400,3.0
27,HESS CREEK DAM,AK00017,AK00017,YUKON FLATS REAA,AK,poor,high,2012-09-06,False,NaN,1946.0,water_supply,private,65.593330,-148.3916,3.0
49,MEALS LAKE DAM,AK00018,AK00018,CHUGACH REAA,AK,poor,high,2017-10-02,True,2001-03-13 00:00:00,1972.0,water_supply,local_government,60.531666,-145.7500,3.0
81,WRANGELL LOWER,AK00014,AK00014,NaN,AK,poor,high,2015-06-09,True,2002-06-01 00:00:00,1968.0,water_supply,local_government,56.455002,-132.3750,3.0
82,WRANGELL UPPER,AK00013,AK00013,NaN,AK,poor,high,2015-06-09,True,2002-06-01 00:00:00,1967.0,water_supply,local_government,56.461666,-132.3600,3.0

In [13]:
dang_dams_df.isnull().sum()

dam_name                               1
nid_id                                 0
state_or_fed_id                      371
county                               155
state                                  0
condition_assessment_standardized      0
hazard_standardized                    0
last_inspection_date                  13
eap_exists                           107
eap_last_revised_date                818
year_dam_completed                   204
primary_purpose                       24
owner_type                             6
latitude                              83
longitude                             83
inspection_frequency                  34
dtype: int64

In [16]:
# Looking for a county to breakout that has a high number of dangerous dams and people

In [14]:
dang_dams_df.state.value_counts().head()

GA    198
NC    168
PA    145
MS    132
OH    124
Name: state, dtype: int64

In [17]:
# population 215,579
dang_dams_df[dang_dams_df.county == 'Dona Ana'].state.value_counts()

NM    29
Name: state, dtype: int64

In [18]:
# population 72,159
dang_dams_df[dang_dams_df.county == 'Kauai'].state.value_counts()

HI    28
Name: state, dtype: int64

In [19]:
# population 10,139 (MS)
dang_dams_df[dang_dams_df.county == 'CARROLL'].state.value_counts()

MS    22
NH     1
OH     1
Name: state, dtype: int64

In [20]:
# population 637,357
dang_dams_df[dang_dams_df.county == 'PROVIDENCE'].state.value_counts()

RI    22
Name: state, dtype: int64

In [21]:
# population 376,320 (NC)
dang_dams_df[dang_dams_df.county == 'Forsyth'].state.value_counts()

NC    21
GA     8
Name: state, dtype: int64

In [22]:
dang_dams_df.head()

,dam_name,nid_id,state_or_fed_id,county,state,condition_assessment_standardized,hazard_standardized,last_inspection_date,eap_exists,eap_last_revised_date,year_dam_completed,primary_purpose,owner_type,latitude,longitude,inspection_frequency
3,ALITAK CANNERY DAM #1,AK00092,AK00092,KODIAK ISLAND BOROUGH,AK,poor,high,2015-08-20,False,NaN,1917.0,water_supply,private,56.900000,-154.2400,3.0
27,HESS CREEK DAM,AK00017,AK00017,YUKON FLATS REAA,AK,poor,high,2012-09-06,False,NaN,1946.0,water_supply,private,65.593330,-148.3916,3.0
49,MEALS LAKE DAM,AK00018,AK00018,CHUGACH REAA,AK,poor,high,2017-10-02,True,2001-03-13 00:00:00,1972.0,water_supply,local_government,60.531666,-145.7500,3.0
81,WRANGELL LOWER,AK00014,AK00014,NaN,AK,poor,high,2015-06-09,True,2002-06-01 00:00:00,1968.0,water_supply,local_government,56.455002,-132.3750,3.0
82,WRANGELL UPPER,AK00013,AK00013,NaN,AK,poor,high,2015-06-09,True,2002-06-01 00:00:00,1967.0,water_supply,local_government,56.461666,-132.3600,3.0

In [23]:
# Cleaning up the dataframe before I feed it to d3 to create an interactive map

In [24]:
dang_dams_df.county = dang_dams_df.county.str.lower()
dang_dams_df.county = dang_dams_df.county.str.title()

/Users/amyokruk/.pyenv/versions/3.6.5/lib/python3.6/site-packages/pandas/core/generic.py:5096: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [25]:
dang_dams_df.dam_name = dang_dams_df.dam_name.str.lower()
dang_dams_df.dam_name = dang_dams_df.dam_name.str.title()

In [26]:
dang_dams_df.head()

,dam_name,nid_id,state_or_fed_id,county,state,condition_assessment_standardized,hazard_standardized,last_inspection_date,eap_exists,eap_last_revised_date,year_dam_completed,primary_purpose,owner_type,latitude,longitude,inspection_frequency
3,Alitak Cannery Dam #1,AK00092,AK00092,Kodiak Island Borough,AK,poor,high,2015-08-20,False,NaN,1917.0,water_supply,private,56.900000,-154.2400,3.0
27,Hess Creek Dam,AK00017,AK00017,Yukon Flats Reaa,AK,poor,high,2012-09-06,False,NaN,1946.0,water_supply,private,65.593330,-148.3916,3.0
49,Meals Lake Dam,AK00018,AK00018,Chugach Reaa,AK,poor,high,2017-10-02,True,2001-03-13 00:00:00,1972.0,water_supply,local_government,60.531666,-145.7500,3.0
81,Wrangell Lower,AK00014,AK00014,NaN,AK,poor,high,2015-06-09,True,2002-06-01 00:00:00,1968.0,water_supply,local_government,56.455002,-132.3750,3.0
82,Wrangell Upper,AK00013,AK00013,NaN,AK,poor,high,2015-06-09,True,2002-06-01 00:00:00,1967.0,water_supply,local_government,56.461666,-132.3600,3.0

In [27]:
# Creating a test dataframe for my prototype

In [54]:
dams_small = dang_dams_df[['dam_name','county','state','latitude','longitude']]

In [55]:
dams_small = dams_small.dropna()

In [30]:
dams_small.head()

                 dam_name                 county state   latitude  longitude
3   Alitak Cannery Dam #1  Kodiak Island Borough    AK  56.900000  -154.2400
27         Hess Creek Dam       Yukon Flats Reaa    AK  65.593330  -148.3916
49         Meals Lake Dam           Chugach Reaa    AK  60.531666  -145.7500
81         Wrangell Lower                    NaN    AK  56.455002  -132.3750
82         Wrangell Upper                    NaN    AK  56.461666  -132.3600

In [ ]:
# I want users to be able to search dams by county. Since some states have counties with the same names, I'm adding state codes to the counties which I'll drop later using d3

In [31]:
dams_small.county = dams_small.county + '_' + dams_small.state

In [32]:
dams_small.to_csv('dams2.csv', index=False)

In [33]:
# Creating the final dataframe

In [63]:
dang_dams_df2 = dang_dams_df[['dam_name', 'county', 'state', 'condition_assessment_standardized', 'hazard_standardized', 'last_inspection_date','year_dam_completed','latitude','longitude']]

In [64]:
dang_dams_df2.county = dang_dams_df2.county + '_' + dang_dams_df2.state

In [65]:
dang_dams_df2.shape

(1688, 9)

In [56]:
dang_dams_df2 = dang_dams_df2.dropna()

In [44]:
d = {'GA':'Georgia', 'NC':'North Carolina', 'PA':'Pennsylvania', 'MS':'Mississippi', 'OH':'Ohio',
     'SC':'South Carolina', 'NM':'New Mexico', 'KY':'Kentucky', 'IN':'Indiana', 'HI':'Hawaii', 'NY':'New York',
     'MA':'Massachusetts','RI':'Rhode Island', 'NH':'New Hampshire', 'AR':'Arkansas', 'WV':'West Virginia',
     'KS':'Kansas', 'CO':'Colorado', 'WA':'Washington', 'MI':'Michigan', 'WY':'Wyoming', 'AZ':'Arizona',
     'OR':'Oregon', 'VA':'Virginia','NV':'Nevada', 'OK':'Oklahoma', 'CT':'Connecticut', 'ND':'North Dakota',
     'MT':'Montana', 'VT':'Vermont', 'SD':'South Dakota', 'ID':'Idaho', 'WI':'Wisconsin', 'NE':'Nebraska',
     'CA':'California', 'MO':'Montana','UT':'Utah', 'ME':'Maine', 'FL':'Florida', 'DE':'Delaware',
     'AK':'Alaska', 'LA':'Louisiana', 'MN':'Minnesota', 'PR':'Puerto Rico', 'TN':'Tennessee'}

In [46]:
dang_dams_df2['state2'] = dang_dams_df2.state.map(d)

/Users/amyokruk/.pyenv/versions/3.6.5/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [60]:
dang_dams_df2.year_dam_completed = dang_dams_df2.year_dam_completed.astype(int)

In [52]:
dang_dams_df2.head()

,dam_name,county,state,condition_assessment_standardized,hazard_standardized,last_inspection_date,year_dam_completed,latitude,longitude,state2
3,Alitak Cannery Dam #1,Kodiak Island Borough_AK,AK,poor,high,2015-08-20,1917.0,56.900000,-154.2400,Alaska
27,Hess Creek Dam,Yukon Flats Reaa_AK,AK,poor,high,2012-09-06,1946.0,65.593330,-148.3916,Alaska
49,Meals Lake Dam,Chugach Reaa_AK,AK,poor,high,2017-10-02,1972.0,60.531666,-145.7500,Alaska
81,Wrangell Lower,NaN,AK,poor,high,2015-06-09,1968.0,56.455002,-132.3750,Alaska
82,Wrangell Upper,NaN,AK,poor,high,2015-06-09,1967.0,56.461666,-132.3600,Alaska

In [61]:
dang_dams_df2.to_csv('dams_final.csv', index=False)

Editorial decisions 

- Looked only at dams classified as high hazard, ignored "significant" hazard and lower ratings. 
- Dropped dams from the dataframe that did not have county information (about 150). In a real-world scenario, I would have tried to geocode these to get the counties.